
* {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-inline: 200px;
    margin-block: 50px;
}

h1 {
    color: #484C55;
    text-align: center;
    font-size: 7.5rem;
    line-height: 1.1;
}

h2 {
    color: #CB731C;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

.primary-navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.primary-navigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

section {
    margin-block: 100px;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}

.two-column-layout {
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
}

img {
    display: block;
    max-inline-size: 100%;
}

.teal-bg {
    background-color:#087A98;
    color: #ffffff;
    padding: 20px;
    border: solid 10px #0b4a5a;
}

.teal-text {
    color: #087A98;
}

a {
    color: #2B930B;
}

a:hover {
    color: #5f9b9f;
}

.climber-bg {
    background-image: url(../images/simple-steps.jpg);
    border: solid 10px #0b4a5a;
    color: #ffffff;
    padding: 24px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    text-align: center;
}