
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
}
header {
    text-align: center;
}

h1 {
    color: #4676A9;
    text-align: center;
    font-size: 7.5rem;
    line-height: 1.1;
}

h2 {
    color: #CB731C;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}
section {
    margin-block: 100px;
}

footer {
    background-color: #22466C;
    color: #FFFFFF;
    text-align: center;
}